<div id="legislator-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <h2>
          <%= "#{@legislator.name} (#{@legislator.party[0]})" %>
          <div class="small">
            <%= @legislator.body === "Senate" ? "Senator " : "Representative, #{@legislator.district}"%>
          </div>
        </h2>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="text-center">
          <h2> Committee Membership </h2>
        </div>

        <div class="row col-md-12">
          <div class="col-md-6">
            <div class="text-center">
              <h3> <%= @legislator.body %> </h3>
            </div>

            <hr>

            <% @committees.select{|c| c.body === @legislator.body}.each do |c| %>
              <a class="btn btn-default btn-block"
                 role="button"
                 href= <%= committee_path(c) %>>
                <%= c.name %>
              </a>
            <% end %>
          </div>

          <div class="col-md-6">
            <div class="text-center">
              <h3> Joint </h3>
            </div>

            <hr>

            <% @committees.select{|c| c.body === "Joint"}.each do |c| %>
              <a class="btn btn-default btn-block"
                 role="button"
                 href= <%= committee_path(c) %>>
                <%= c.name %>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="text-center">
          <h2> Bills </h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <h3> Sponsorships </h3>
            </div>

            <hr>

            <% @sponsorships.each do |bill| %>
              <a class="btn btn-default btn-block"
                 role="button"
                 href= <%= bill_path(bill) %>>
                <%= "#{bill.number}: #{bill.title}" %>
              </a>
            <% end %>
          </div>

          <div class="col-md-6">
            <div class="text-center">
              <h3> Cosponsorships </h3>
            </div>

            <hr>

            <% @cosponsorships.each do |bill| %>

              <a class="btn btn-default btn-block"
                 role="button"
                 href= <%= bill_path(bill) %>>
                <%= "#{bill.number}: #{bill.title}" %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
