<div id="committee-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <h2>
          <%= @committee.name %>
          <div class="small"> <%= @committee.body %> Committee </div>
        </h2>
      </div>
    </div>

    <div class="panel-body">
      <div class="text-center">
        <h3> Committee Membership </h3>
      </div>

      <table class="table table-bordered committee-membership">
        <thead>
          <tr>
            <% @parties.each do |p| %>
              <th class=<%=p%>> <%= p %> </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @table_len.times do |i| %>
            <tr>
              <% @parties.each do |p| %>
                <% if @members[p][i] %>
                  <td class=<%=p%>>
                    <% member = @members[p][i] %>
                    <div class="name">
                      <% if @committee.body === "Joint" %>
                        <%= link_to "#{member.name} (#{member.body[0]})", member %>
                      <% else %>
                        <%= link_to member.name, member%>
                      <% end %>
                    </div>
                    <div class="district">
                      <em> <%= member.district %> </em>
                    </div>
                  </td>
                <% else %>
                  <td class="empty"></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
