<!DOCTYPE html>
<html>
  <head>
    <title>No Legislator Left Behind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="o" class="container">
      <h1> No Legislator Left Behind </h1>
      <div id="breadcrumbs">
        <%= render_breadcrumbs %>
      </div>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
